{% extends "blobcn/base.html" %}

{% block title %}Entities{% endblock title %}

{% block content %}   

    <h1 class="txt-center ">Lista de entidades</h1>
    <br><br><br>
    <ul>
        {% for entity in entities %}
            <div class="txt-center">
                <strong>Chave da partição:</strong> {{ entity.PartitionKey }}<br>
                <strong>Chave da linha:</strong> {{ entity.RowKey }}<br>
            </div> 
            <div style="width:100vw;display: flex;justify-content: center;">
                <div class="links" style="width:50%;background-">
                    <a href="{% url 'read_entity' entity.PartitionKey entity.RowKey %}">Detalhes</a>
                    <a href="{% url 'update_entity' entity.PartitionKey entity.RowKey %}">Editar</a>
                    <a href="{% url 'delete_entity' entity.PartitionKey entity.RowKey %}">Deletar</a>
                </div>
            </div>
            <br><br>
        {% endfor %}
    </ul>
    <a href="{% url 'create_entity' %}">Criar nova entidade</a>

{% endblock content %}
