{% extends "blobcn/base.html" %}

{% block title %}Entidade{% endblock title %}

{% block content %}   
    <h1>Detalhes</h1>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        {% for key, value in entity.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="links">
        <a href="{% url 'update_entity' entity.PartitionKey entity.RowKey %}">Edit</a>
        <a href="{% url 'delete_entity' entity.PartitionKey entity.RowKey %}">Delete</a>
    </div>
{% endblock content %}